<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Chat Popup</title>
  <style>
    body {
      margin: 0;
      overflow: hidden; 
    }

    chatModal {
      overflow-y: auto;
      
    }

   
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }
    .modal-content {
      background-color: white;
      padding: 20px;
      margin: 10% auto;
      max-width: 900px;
      max-height:600px;
      overflow-y: auto;
    }
    .close {
      color: #ffa5ab;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }
    .bgcolor{
      background:#ffa5ab;
      padding:0px;
    }

    .vl{
      background-color: white;  
      width: 1px;
      padding-left: 0px;
    }
  
  </style>
</head>
<body>



  <div id="chatModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeChatPopup()">&times;</span>
      <!-- Your chatroom content goes here -->
      <div id="chatroom_container" class="d-flex row  text-light bgcolor">
        <div class="col-md-4 col-sm-4">
          <div id="side_panel">
            <h5> Hi <%= current_user.email %> </h5>
            <h4> Admin </h4>
            <%= turbo_stream_from "users" %>
            <div id="users">
            <h5> Hi <%= current_admin_user.email %> </h5>
              
            </div>
            <h4> Rooms </h4>
              
            <%= turbo_stream_from "rooms" %>
            <div id="rooms">
              <%= render @rooms %>
            </div>
          </div>
        </div>
      
        <div class="vl col-md-0"></div>
      
        <div id="room_container" class="col-md-7 col-sm-8  text-light bgcolor">
          <% if @single_room %>
            <div id="single_room">
              <h4 class="text-center"><%= @user&.email || @single_room.name || current_admin_user.email %> </h4>
              <%= turbo_stream_from @single_room %>
              <div id="messages">
                <%= render @messages %>
                <div class="message-body" style="color: black;">
                </div>
              </div>
              <%= render partial: 'layouts/new_message_form' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript to handle modal toggling -->
  <script>
    function openChatPopup() {
      document.getElementById('chatModal').style.display = 'block';
    }

    function closeChatPopup() {
      document.getElementById('chatModal').style.display = 'none';
    }
    window.onload = function() {
      openChatPopup();
    };
  </script>

</body>
</html>
